//
// Styles for the admin back-end
//
// @package     WPDTRT_Plugin_Boilerplate
// @since       1.0.0
//

// @imports are handled in the child plugin
// @import "variables";
// @import "extends";

// -------------------------------------------------------------------
// Plugin options page
// -------------------------------------------------------------------

.wpdtrt-plugin-boilerplate {

    &--options {

        // restyle WP .spinner
        .wpdtrt-plugin-boilerplate-ajax-response {
            .spinner {
                float: none;
                width: auto;
                padding-left: 27px;
                margin-left: 0;
            }
        }

        .wpdtrt-plugin-boilerplate-version {
            // copied from dashboard-widgets-suite plugin
            color: var(--wpdtrt-plugin-boilerplate-text-color-version);
            font-size: 90%;
        }

        .wpdtrt-plugin-boilerplate-date {
            font-size: .95em;
        }

        .form-table {
            .description {
                @extend %wpdtrt-plugin-boilerplate--input-hint-text;
            }
        }
    }

    // -------------------------------------------------------------------
    // Widget page
    // -------------------------------------------------------------------

    &--widget-field {
        .description {
            @extend %wpdtrt-plugin-boilerplate--input-hint-text;
        }
    }

    // -------------------------------------------------------------------
    // Terms page
    // -------------------------------------------------------------------

    // &--taxonomy-form-field {}

} // end .wpdtrt-plugin-boilerplate

// -------------------------------------------------------------------
// Attachment page
// -------------------------------------------------------------------

// hide unused core fields, to show custom fields sooner
.attachment-details {
    > [data-setting='url'],
    > [data-setting='title'],
    > [data-setting='description'] {
        display: none;
    }
}

// hide redundant warning, to show custom fields sooner
.media-types-required-info {
    display: none;
}

// create a visual separator before the custom fields
.compat-item {
    table {
        &.compat-attachment-fields {
            padding-top: 5px;
            border-top: 1px solid var(--wpdtrt-plugin-boilerplate-divider-custom-field);
            margin-top: 15px;
        }
    }
}

.compat-attachment-fields {
    // reduce size of help text, to compress custom fields
    p {
        &.help {
            @extend %wpdtrt-plugin-boilerplate--input-hint-text;
        }
    }
}
