//
// SCSS silent @extends (Helpers)
// This file is imported by child plugins
//
// @package     WPDTRT_Plugin_Boilerplate
// @since       1.0.0
//

/* stylelint-disable declaration-no-important */

// ex twentysixteen/style.css
%wpdtrt-plugin-boilerplate--screen-reader-text,
.wpdtrt-plugin-boilerplate-screen-reader-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    overflow: hidden;
}

%wpdtrt-plugin-boilerplate--clear,
.clear {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

%wpdtrt-plugin-boilerplate--fieldset-reset {
    padding: 0;
    border: 0;
    margin: 0;
}

%wpdtrt-plugin-boilerplate--list-reset,
.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

%wpdtrt-plugin-boilerplate--text-sharpen,
.text-sharpen {
    // sass-lint:disable no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // sass-lint:enable no-vendor-prefixes
}

// embedresponsively.com
// scales iframe height proportionally

%wpdtrt-plugin-boilerplate--embedresponsively {
    position: relative;
    height: 0;
    max-width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// add a divider after the last attachment field added by a plugin
%wpdtrt-plugin-boilerplate--last-attachment-field-divider {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--wpdtrt-plugin-boilerplate-divider-custom-field);
    margin-bottom: 15px;
}

%wpdtrt-plugin-boilerplate--input-hint-text {
    display: block;
    font-size: 13px;
    font-style: normal;
    margin-top: 4px;
}
