/**
 * SCSS @extends
 *
 * @package     WPPlugin
 * @since       1.0.0
 */

// twentysixteen/style.css
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	// many screen reader and browser combinations announce broken words as they would appear visually
	word-wrap: normal !important;
}

.clear {
	&::after {
	    content: "";
	    display: block;
	    clear: both;
	}
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.text-sharpen {
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
