//
// SCSS @extends (Helpers)
//
// @package     WPPlugin
// @since       1.0.0
//

// ex twentysixteen/style.css
.wpdtrt-plugin-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clear {
	&::after {
	    content: "";
	    display: block;
	    clear: both;
	}
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.text-sharpen {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// embedresponsively.com
// scales iframe height proportionally

%h-embedresponsively {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
  }
}
