{
  "extends": [
    "airbnb-base/legacy"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "chai-friendly",
    "cypress",
    "ejs",
    "json",
    "markdown"
  ],
  "overrides": [
    {
      "files": ["gulpfile.babel.js"],
      "rules": {
        "max-len": "off"
      }
    },
    {
      "files": ["gulpfile.babel.js", "index.js", "test/index.js", "gulp-modules/*.js"],
      "rules": {
        "no-console": "off"
      }
    }
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": ["error", "always"],
    "chai-friendly/no-unused-expressions": "error",
    "comma-spacing": ["error"],
    "computed-property-spacing": ["error", "always"],
    "func-names": ["warn", "as-needed"],
    "no-use-before-define": "warn",
    "no-unused-vars": "warn",
    "max-len": [ "error", {
      "code": 80,
      "tabWidth": 4,
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "space-in-parens": ["error", "always"]
  }
}
