# Configuration file for Travis CI builds,
# which are automatically run when code is pushed to Github.
# To skip a build, add [ci skip] to the commit message.
# This file has been linted using: http://lint.travis-ci.org/

# Use PHP, to run unit tests
language: php

# PHP versions to test against
# https://github.com/meitar/wordpress-plugin-skeleton/blob/master/.travis.yml
php:
  - 5.6.30 # MAMP
#  - 5.5 # Sitehost - fails phpunit version requirement

# Public Environment Variables
# https://docs.travis-ci.com/user/environment-variables
# https://github.com/meitar/wordpress-plugin-skeleton/blob/master/.travis.yml
env:
  - WP_VERSION=latest WP_MULTISITE=0

# Build Matrix
# consisting of specific runtime/env/exclude/include combinations.
# Each 'include' is run as a separate job.
# https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix
# https://github.com/meitar/wordpress-plugin-skeleton/blob/master/.travis.yml
matrix:
  # reduce the delay in the build status being reported
  # https://johnblackbourn.com/reducing-travis-ci-build-times-for-wordpress-projects/
  fast_finish: true
  include:
    - php: 5.6.30
      env: WP_VERSION=latest WP_MULTISITE=0

# Cache directories between builds, to store dependencies
# which take longer to compile or download.
# https://docs.travis-ci.com/user/caching#Caching-directories-(Bundler%2C-dependencies)
# https://github.com/wp-cli/sample-plugin/blob/master/.travis.yml
# https://johnblackbourn.com/reducing-travis-ci-build-times-for-wordpress-projects/
# ~/files - https://blog.wyrihaximus.net/2015/07/composer-cache-on-travis/
cache:
  directories:
#   - node_modules
#   - vendor
#    - $HOME/.composer/cache/files
    - $HOME/.npm 

# Install a Second Programming Language (Node, to run Gulp tasks)
# We need to specify a newer version than the Travis default
# in order to avoid the build error "Use of const in strict mode"
# https://docs.travis-ci.com/user/customizing-the-build/#Installing-a-Second-Programming-language
# https://stackoverflow.com/a/44250453/6850747
before_install:
  - nvm install 6.11.2
  # Disable XDebug which is only required for Code Coverage reports
  # https://johnblackbourn.com/reducing-travis-ci-build-times-for-wordpress-projects/
  - phpenv config-rm xdebug.ini
  # Fix PHPDoc error:
  # "Unable to find the `dot` command of the GraphViz package. Is GraphViz correctly installed and present in your path?"
  - sudo apt-get install graphviz

# Install dependencies
# https://docs.travis-ci.com/user/customizing-the-build/#Customizing-the-Installation-Step
# Note: Remember to run composer update on local dev to get latest updates to dependencies
install:
  - composer install --prefer-dist --no-interaction # also run via gulpfile.js
  # Adding Yarn to Travis CI - https://gist.github.com/acburdine/61f4f91bacf6554fccdaa394fd14ebbd
  - npm install -g yarn
  - yarn install
  - yarn global add gulp-cli
  # https://www.sitepoint.com/php-continuous-integration-travis-ci/
  # https://getcomposer.org/doc/03-cli.md

# https://github.com/wp-cli/sample-plugin/blob/master/.travis.yml
before_script:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

# Run the build task
script:
  - gulp dist

# Notifications of build results
# https://docs.travis-ci.com/user/notifications/
notifications:
  email: false
  slack: $SLACK_AUTH

# Deploy code to Github as a 'release'
# This is run after a tagged commit triggers a successful build
# release.zip is generated by gulp dist
# api_key is generated via: travis setup releases
# which requires my GH username and password
# and creates a Personal Access Token at https://github.com/settings/tokens
# named 'automatic releases for dotherightthing/wpdtrt-plugin' 
# https://docs.travis-ci.com/user/deployment/releases/
deploy:
  provider: releases
  api_key:
    secure: $GITHUB_AUTH
  file: 'release.zip'
  # prevent Travis CI from resetting the working directory
  # which deletes all changes made during the build 
  skip_cleanup: true
  on:
    repo: dotherightthing/wpdtrt-plugin
    tags: true
    # https://stackoverflow.com/a/27775257/6850747
    all_branches: true
